<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">A Wide Tech Stack Selection</h2>
                    <h3 class="section-subheading text-muted">Technologies we use                    </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Front-end Development</h4>
                    <p class="text-muted">Equip your company with reliable and user-friendly front-ends for your solutions to cost-effectively and swiftly resolve your industry-specific business challenges.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Back-end Development</h4>
                    <p class="text-muted">MedSoftAi's Back-end development experts will help you obtain properly functioning and secure solutions, ensuring seamless data flows with the most suitable technologies.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Mobile App Development</h4>
                    <p class="text-muted">Obtain high-performing mobile software to address your industry-specific challenges, and the result will fully meet your usability, utility, and data safety expectations.</p>
                </div>
            </div>
        </div>
    </section>